@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

//Variables
$color1: #1f1e1e;
$light: #FFF;
$dark: #101010;

//fonts
$font-text:  'Rubik', sans-serif;