@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

//Variables
$light: #FFF;
$dark: #1f1e1e;
$color1: #74d281;
$color2: #E4666C;
$color3: #F8D76F;
$color4: #76BDFE;
$color5: #555;
$color6: #ffffffbd;

//fonts
$font-text:  'Rubik', sans-serif;