@import "../../abstract/functions", "../../abstract/responsive", "../../abstract/variables";

.cards{
    @include screenSize(80vw, auto);
    @include displayFlex(center,center,row);
    margin: auto;
    padding: 80px 0px;
    flex-wrap: wrap;
    //viewport
    @include for-desktopXL-only{
        @include screenSize(95vw, auto);
    }
    @include for-desktopL-only{
        @include screenSize(100vw, auto);
    }
    @include for-tablet-only{
        @include screenSize(100vw, auto);
    }
    @include for-phone-only{
        @include screenSize(100vw, auto);
    }
    @include for-phoneS-only{
        @include screenSize(90vw, auto);
    }
}