@import "abstract/functions", "abstract/variables", "abstract/responsive";

.bgOO{ background: linear-gradient($color2, $color2, $color8)}
.bgfC{ background: linear-gradient($color1, $color1, $color9)}
.bgOF{ background: linear-gradient($color3, $color3, $color10)}
.bgNo{ background: linear-gradient($color4, $color4, $color11)}

.containerCard{
    @include screenSize(80vw, auto);
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: scroll;

    &__desc{
        @include displayFlex(space-between, center, row);
        @include screenSize(100%, 20vh);
        padding:20px 60px;

        &-titleAndTag{
            @include displayFlex(space-between, center,column);

            h3{
                @include title(45px, start);
                color: $light;
                padding: 50px 0px 20px 0px;
            }
            span{
                background-color: $color6;
                border-radius: 10px;
                color: $color5;
                padding: 10px;
            }
        }
        &-id{
            @include subtitle(30px, center);
            color: $color5;
        }
    }
    &__details{
        @include screenSize(100%, 100vh);
        @include displayFlex(space-between, center, column);

        &-tech {
                width: 400px;
                position: relative;
                top: 30px;
                //animation pulse
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px transparent;
        
                -webkit-animation-name: ef-pulse-grow;
                animation-name: ef-pulse-grow;
                -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-direction: alternate;
                animation-direction: alternate;
        
                @-webkit-keyframes ef-pulse-grow {
                    to {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }      
                @keyframes ef-pulse-grow {
                    to {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
        
             }
        &-table{
            @include screenSize(90%, auto);
            @include displayFlex(center,flex-start,row);
            background-color: $color7;
            color: $color5;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            padding: 20px;

            table{
                @include screenSize(60%, auto);
                margin: 50px 0px 10px 0px;
                th{
                    padding: 30px;
                    text-align: start;
                    @include fontSize(20px);
                    border-bottom: 2px solid $color6;
                    cursor: pointer;

                    &:hover{
                        opacity: 0.8;
                        color: $dark;
                        transition: all 0.3s linear;
                    }
                }
                tbody{
                    @include screenSize(100%, 30vh);
                    text-align: start;
                    tr{
                        height: 60px;
                    }
                    .nameTech{
                        @include fontSize(35px);
                        color: $dark;
                        padding: 20px 0px;
                    }
                    .detailsTech{
                        @include fontSize(22px);
                        color: green
                    }
                    .tagsTech{
                        span{
                            @include fontSize(14px);
                            margin: 10px;
                            padding: 15px;
                            background-color: $color6;
                            color: $color5;
                            border-radius: 10px;
                            flex-wrap: wrap;
                            cursor: pointer;

                            &:hover{
                                background-color: $color5;
                                color: $color6;
                                transition: all .3s ease-in;
                            }
                        }
                    }
                }
            }
        }
    }
}