@import "abstract/functions", "abstract/variables", "abstract/responsive";

.container{
    @include screenSize(80vw, auto);
    margin: auto;
    background: pink;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &__desc{
        @include displayFlex(space-between, center, row);
        @include screenSize(100%, 20vh);
        padding:20px 60px;

        &-titleAndTag{
            @include displayFlex(space-between, center,column);

            h3{
                @include title(45px, start);
                color: #FFF;
                padding: 50px 0px 20px 0px;
            }
            span{
                background: #ffffff7e;
                border-radius: 10px;
                color: #555555;
                padding: 10px;
            }
        }
        &-id{
            @include subtitle(30px, center);
            color: #555555;
        }
    }
    &__details{
        @include screenSize(100%, 100vh);
        @include displayFlex(space-between, center, column);

        &-tech {
                width: 400px;
                position: relative;
                top: 30px;
                //animation pulse
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px transparent;
        
                -webkit-animation-name: ef-pulse-grow;
                animation-name: ef-pulse-grow;
                -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-direction: alternate;
                animation-direction: alternate;
        
                @-webkit-keyframes ef-pulse-grow {
                    to {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }      
                @keyframes ef-pulse-grow {
                    to {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
        
             }
        &-table{
            @include screenSize(90%, 80vh);
            @include displayFlex(center,flex-start,row);
            background: #cdcdcd;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            padding: 20px;

            table{
                @include screenSize(60%, auto);
                margin-top: 50px;
                th{
                    padding: 20px;
                }
                tbody{
                    @include screenSize(100%, 30vh);
                    text-align: center;
                }
            }
        }
    }
}