@import "abstract/functions", "abstract/variables", "abstract/responsive";

.bgOO{ background: linear-gradient($color2, $color2, $color8)}
.bgfC{ background: linear-gradient($color1, $color1, $color9)}
.bgOF{ background: linear-gradient($color3, $color3, $color10)} 
.bgNo{ background: linear-gradient($color4, $color4, $color11)}

.containerCard{
    @include screenSize(80vw, auto);
    margin: auto;
    margin-top: 10vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @include for-phone-only{
        @include screenSize(100vw, auto);
        border-radius: 20px 20px 0px 0px;        
    }
    @include for-phoneS-only{
        margin-top: 30px;
        border-radius: 20px 20px 0px 0px;
        @include screenSize(100vw, auto);
    }

    &__desc{
        @include displayFlex(space-between, center, row);
        @include screenSize(100%, 20vh);
        padding:20px 60px;

        @include for-phone-only{
            paading: 20px 30px;
        }

        &-titleAndTag{
            @include displayFlex(center, flex-start,column);
            h3{
                @include title(45px, start);
                color: $light;
                padding: 50px 0px 20px 0px;
                @include for-phone-only{
                    @include title(30px, start);
                }
                @include for-phoneS-only{
                    @include title(30px, start);
                }
            }
            span{
                background-color: $color6;
                border-radius: 10px;
                color: $color5;
                padding: 10px;
                @include for-phone-only{
                    padding: 5px;                    
                    @include fontSize(16px);
                }
                @include for-phoneS-only{
                    padding: 10px;                    
                    @include fontSize(14px);
                }
            }
        }
        &-id{
            @include subtitle(30px, center);
            color: $color5;

            @include for-phoneS-only{
                @include subtitle(25px, flex-end);
            }
        }
    }
    &__details{
        @include screenSize(100%, 100%);
        @include displayFlex(space-between, center, column);
        
        &-tech {
                width: 375px;
                max-height: 400px;
                position: relative;
                top: 30px;
                //animation pulse
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px transparent;
        
                -webkit-animation-name: ef-pulse-grow;
                animation-name: ef-pulse-grow;
                -webkit-animation-duration: 0.3s;
                animation-duration: 0.3s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-direction: alternate;
                animation-direction: alternate;
        
                @-webkit-keyframes ef-pulse-grow {
                    to {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }      
                @keyframes ef-pulse-grow {
                    to {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
                @include for-desktopL-only{
                    width: 350px;
                }
                @include for-tablet-only{
                    width: 350px;
                 }
                @include for-phone-only{
                    top: 100px;
                    width: 230px;
                }
                @include for-phoneS-only{
                    top: 40px;
                    width: 200px;
                }
        
             }
        &-table{
            @include screenSize(90%, auto);
            @include displayFlex(center,flex-start,row);
            background-color: $color7;
            color: $color5;
            border-radius: 30px;
            padding: 20px;
            margin-bottom: 5px;

            table{
                @include screenSize(70%, auto);
                margin: 50px 0px 10px 0px;

                @include for-desktopL-only{
                    @include screenSize(80%, auto);
                }
                @include for-tablet-only{
                    @include screenSize(95%, auto);
                }
                @include for-phone-only{
                    @include screenSize(100%, auto);
                }
                @include for-phoneS-only{
                    @include screenSize(100%, auto);
                    padding-top: 15px;
                }

                th{
                    padding: 30px;
                    text-align: start;
                    @include fontSize(20px);
                    border-bottom: 2px solid $color6;
                    cursor: pointer;
                    @include for-phoneS-only{
                        padding: 15px;
                    }

                    &:hover{
                        opacity: 0.8;
                        color: $dark;
                        transition: all 0.3s linear;
                    }
                }
                tbody{
                    @include screenSize(100%, auto);
                    text-align: start;
                    tr{
                        height: 60px;
                        @include for-phone-only{
                            height: 40px;
                        }  
                        @include for-phoneS-only{
                            height: 35px;
                        }                         
                    }
                    .nameTech{
                        @include fontSize(35px);
                        color: $dark;
                        padding: 20px 0px;
                        @include for-tablet-only{
                           @include fontSize(25px);
                        }
                        @include for-phone-only{
                            @include fontSize(20px);
                        }
                        @include for-phoneS-only{
                            @include fontSize(20px);
                        }
                    }
                    .detailsTech{
                        @include fontSize(22px);
                        color: $dark;
                    }
                    .tagsTech{
                        span{
                            @include fontSize(14px);
                            margin: 10px;
                            padding: 15px;
                            background-color: $color6;
                            color: $color5;
                            border-radius: 10px;
                            flex-wrap: wrap;
                            cursor: pointer;
                            @include for-tablet-only{
                                @include fontSize(11px);
                             }
                            @include for-phone-only{
                                @include fontSize(7px);
                                padding: 10px;
                                margin: 5px;
                            }
                            @include for-phoneS-only{
                                @include fontSize(8px);
                                padding: 10px;
                                margin: 5px;
                            }

                            &:hover{
                                background-color: $color5;
                                color: $color6;
                                transition: all .3s ease-in;
                            }
                        }
                    }
                    .tagsStandardized{
                        @include subtitle(18px, start);
                        padding: 20px;
                        @include for-phone-only{
                            @include subtitle(16px, start);
                            padding: 20px;
                        }
                        @include for-phoneS-only{
                            @include subtitle(14px, start);
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
}