@import "abstract/functions", "abstract/variables";

*{
    @include resetAll();

    &::-webkit-scrollbar{
        @extend %invisible;
    }
}

body{
    background: $light;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    font-family: $font-text;
    box-sizing: border-box;
    
    &::-webkit-scrollbar { 
        @extend %invisible; 
        }
}

.light{
    color: $dark;
    background: $light;

}
.dark{
    color: $light;
    background: $dark;
}